*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
.header{
    display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.header a{
    margin: 20px;
    text-decoration: none;
    color: black;
}
.header a:hover{
    text-decoration: underline;

}
.btn{
  background-color:#f5f3f2;
  border-width: 0px;
  border-radius: 4px;
  justify-content: center; 
  align-items: center;
  
}
.btn:hover {
  box-shadow: #f5f3f2;
  border-width: .5px ;
  border-color: #d6d3d3;
 
}
.search-form{
    width: 500px;
    padding: 10px;
    margin: 20px;
    border-radius: 19px; 
    border-width: 1px;
    border-color: #ada9a9;
}

.main{
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 210px ;
}
.form1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px; 
    padding: 20px;
    
}
body {
    margin: 0;
    padding: 0;
    justify-content: center; 
    align-items: center; 
    
  }
  
  .image {
    display: block;
    margin: 0 auto; 

 }
 .image2{
    width: 100px;
    position: fixed;
    top: 50px;
 }
 .some-text{
    color: red;
 }

  input[type="submit"] {
    padding: 10px 20px;
    margin: 0 5px;
  }
  .top-content{
    margin: 20px;
  }


  .advanced-text{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
 
   }
 
   .advanced-form{
     display: flex;
     flex-direction: column;
     margin-top: 48px;
     width: 600px;
     
   }
 .frm{
    margin: 10px;
    padding: 3px;
}
   .advanced{
     display: flex;
     flex-direction: row;
     margin: 10px ; 
     
   }
 .advanced-text p {
     margin: 12px ;
     display: flex;
     font-size: 15px;
 }
.text{
  margin-top:5px;
}
.advanced-text1 p {
  margin-top: 25px ;
  display: flex;
  font-size: 15px
  
}
.btn1{
  color: white;
  background-color: blue;
  border-width: 0px;
  border-radius: 4px;
  position: fixed;
  left: 650px;

}
.btn1:hover{
  box-shadow: #f5f3f2;
  border-width: .5px ;
  border-color: #d6d3d3;
}
@media only screen and (max-width: 768px){
  .advanced-text1 p{
    display: none;
  }
}
